{% extends "layout.html.twig" %}

{% block main %}
    <ul>
        <li>Isekai</li>
        <li>Slice of Life</li>
        <li>Magic-Fantasy</li>
        <li>Science-fiction</li>
    </ul>

{% endblock %}

