<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/style/sass/header.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <h1>My WeebList</h1>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Anime</a></li>
                <li><a href="../templates/manga_id.html">manga</a></li>
                <li><a href="#">Inscription / Connexion</a></li>
            </ul>
            <i class="fa-solid fa-x2 fa-bars"></i>
        </nav>
        <input type="search" class="search">
    </header>

    <main class="container">

        <div class="grid">

            <div class="card">
                <img src="../uploads/dandadan_1955249.jpeg" alt="image Dan da dan"><a href="#">Dan da
                    dan</a>
            </div>

            <div class="card">
                <img src="../uploads/gachiakuta_1964000.jpeg" alt="gachiakuta"><a href="#">Gachiakuta</a>
            </div>

            <div class="card">
                <img src="../uploads/le_guerisseur_de_l_ombre_11000127.jpeg" alt="le guerisseur de l'ombre"><a
                    href="#">Le guerisseur de l'ombre</a>
            </div>

            <div class="card">
                <img src="../uploads/le_retour_du_roi-demon_qui_a_decide_de_former_sa_propre_guilde_de_monstres_apres_avoir_ete_salement_battu_par_le_heros_1974522.jpeg"
                    alt="la retour du roi demon"><a href="#">Le retour du roi demon</a>
            </div>

            <div class="card">
                <img src="../uploads/oshi_no_ko_1935600.jpeg" alt="oshi no ko"><a href="#">Oshi no ko</a>
            </div>

            <div class="card">
                <img src="../uploads/profession_heros_1975391.jpeg" alt="profession heros"><a href="#">Profession
                    Heros</a>
            </div>

            <div class="card"> <img src="../uploads/raise_kamika_7738.jpeg" alt="Raisekamika"><a
                    href="#">Raisekamika</a>
            </div>

            <div class="card">
                <img src="../uploads/reincarne_dans_un_autre_monde_134540.jpeg" alt="reincarne dans un autre monde"><a
                    href="#">Reincarné dans un autre monde</a>
            </div>

            <div class="card">
                <img src="../uploads/skeleton_double_1979061.jpeg" alt="skeleton double"><a href="#">Skeleton double</a>
            </div>

            <div class="card">
                <img src="../uploads/slow_life_in_another_world_i_wish_151085.jpeg" alt="slow life "><a href="#">Slow
                    life in another world (i wish)</a>
            </div>

            <div class="card">
                <img src="../uploads/villageois_lvl_999_9966.jpeg" alt="villageois LVL 999"><a href="#">Villageois LVL
                    999</a>
            </div>

            <div class="card"><img src="../uploads/wakfu_-_la_grande_vague_27934.jpeg" alt="Wakfu la grande vague"><a
                    href="#">Wakfu la grande vague</a>
            </div>

            <div class="card">
                <img src="../uploads/yoku-oni_1933950.jpeg" alt="yoku oni"><a href="#">Yoku oni</a>
            </div>

        </div>
        <div class="pagination">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </div>
    </main>

    <footer class="footer">

    </footer>
</body>

</html>