<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My WeebList</title>
    <link rel="stylesheet" href="../assets/style/sass/test.cs">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <h1>My WeebList</h1>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Anime</a></li>
                <li><a href="#">Manga</a></li>
                <li><a href="#">Inscription / Connexion</a></li>
            </ul>
        </nav>
        <input type="search" class="search" placeholder="Rechercher">
    </header>

    <main class="container">
        <img src="../uploads/" alt="">
    </main>

    <footer class="footer">
        <!-- Footer content -->
    </footer>
</body>

</html>
