{% extends "layout.html.twig" %}

{% block main %}

<form action="index.php?route=upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" />
    <input type="file" name="image" />
    <input type="hidden" name="formName" value="fileUpload" />
    <input type="text"  name="description" placeholder="Description"/>
    <input type="submit"/>
</form>

{% endblock %}
