html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  background-color: #FF94A9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 20px;
}
.header .header h1 {
  text-align: center;
}
.header .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header .navbar a {
  color: black;
  padding: 1rem;
}
.header .navbar a:hover {
  background-color: #EF82B9;
  color: black;
}
.header .navbar ul {
  padding: 0;
}
.header .navbar ul li {
  padding: 5px;
  list-style: none;
  margin: 0 1.5rem;
}
.header .navbar .fa-bars {
  display: block;
  color: white;
}

h1 {
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(239, 130, 185, 0.8);
  padding: 30px;
  border-radius: 20px 0;
}
.form fieldset {
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}
.form input {
  width: 100%;
  border-radius: 50rem;
}
.form .button {
  align-self: center;
  padding: 10px;
}

.commentaire {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  border-radius: 15px;
}
.commentaire h2 {
  text-align: center;
  margin-bottom: 20px;
}
.commentaire ul {
  padding-left: 10px;
}
.commentaire li {
  background-color: white;
  border: 2px solid #FF94A9;
  border-radius: 4px;
  padding: 7px;
  transition: background-color 0.6s;
}
.commentaire li:hover {
  background-color: #ffc7d2;
}

.form-comment {
  margin-top: 30px;
}
.form-comment fieldset {
  border: none;
}
.form-comment fieldset .form-label {
  display: block;
  margin: 10px 0 5px;
}
.form-comment button {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.5;
  width: 50%;
  align-self: center;
}
.form-comment button:hover {
  background-color: #e955a0;
}

select,
textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

.container {
  margin: auto;
  padding: 30px;
  max-width: 1350px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-size: 1.6rem;
  background-image: url(../../../uploads/anime-landscape-blossom-canal-sakura-water-1021321.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  font-size: 1rem;
}

ul.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  margin-top: 20px;
  padding-left: 0;
}

input.search {
  padding: 10px;
  border: 2px solid #1403d3;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}
input.search:focus {
  border-color: black;
  outline: none;
}

@media screen and (min-width: 980px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
  }
  .header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header .navbar ul {
    display: flex;
  }
  .header .navbar .fa-bars {
    display: none;
  }
  .container {
    max-width: 1350px;
  }
  .fa-bars {
    display: none;
  }
  ul.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 0;
    list-style: none;
  }
  .manga {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 100vw;
    max-width: 100%;
  }
  aside.categorie {
    background-color: #FF94A9;
    text-align: center;
    width: 100%;
  }
  aside.categorie ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    height: 75%;
  }
  aside.categorie li {
    text-align: center;
  }
  aside.categorie li a {
    width: 100%;
    display: block;
  }
}
.pagination-manga {
  display: flex;
  justify-content: center;
  margin: 7rem 0;
  align-items: center;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}
.pagination-manga .page-item {
  display: block;
  padding: 0;
  border: 1px solid black;
  margin: 0 15px;
}
.pagination-manga .page-item .page-link {
  background-color: #EF82B9;
  padding: 10px;
  display: block;
  width: 100%;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .header .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header .navbar ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  ul.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
  }
  .fa-bars {
    display: none;
  }
  li.card {
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  aside.categorie {
    text-align: center;
    background-color: #FF94A9;
  }
  aside.categorie ul {
    display: block;
  }
  aside.categorie ul li {
    display: block;
  }
  .pagination-manga {
    display: flex;
    justify-content: space-evenly;
    margin: 7rem;
  }
  .pagination-manga .page-item {
    background-color: #EF82B9;
    padding: 11px;
    border: 1px solid black;
  }
  .pagination-manga .page-item .page-link {
    display: block;
    width: 100%;
  }
}
.card {
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.card a {
  display: block;
  padding: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #EF82B9;
}
.card a:hover {
  color: black;
}

.img {
  max-width: 400px;
}

.cardId {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.cardId .img {
  float: right;
}

.name-manga {
  font-size: 3rem;
}

.info {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.info img {
  max-width: 200px;
  height: auto;
  margin-right: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cardId {
  background-color: white;
}
.cardId .name-manga {
  color: #FF94A9;
  margin-bottom: 0.5rem;
}
.cardId p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.4;
}
.cardId .synopsis {
  padding: 1.5rem;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #ff2e57;
}

aside.categorie {
  text-align: center;
  background-color: #FF94A9;
}
aside.categorie ul {
  padding-left: 0;
  height: 30%;
}
aside.categorie ul li {
  width: 100%;
  align-self: center;
  display: block;
}
aside.categorie ul li a {
  display: block;
  color: black;
  font-size: 1.2rem;
  background-color: #EF82B9;
  padding: 10px 0;
}
aside.categorie ul li a:hover {
  background-color: white;
  color: #1403d3;
}

/*******************************************************************************************************/
.upload-file {
  align-self: center;
  border: solid red 5px;
}
.upload-file .title-upload {
  text-transform: uppercase;
  color: white;
}

.form-file {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 5px black;
  width: 800px;
  height: 200px;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */