*{
    font-family: 'oswlad';
}
h1{
    font-family: 'roboto';
    font-weight: 100;
}
.titleHome{
    h2{
        font-size: 3rem;
    }
    p{
        font-size:1.2rem;
    }
}
.nouveaute{
    h3{
        font-size: 2rem;
    }
}