.header {
    background-color: #FF94A9;
    // @extend li;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    // border: 5px solid red;

    .header h1{
        text-align: center;
    }
    .navbar {
        // @extend li;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        a {

            color: black;

            padding: 1rem;

            &:hover {
                background-color: $color-pink-purple;
                color: $color-black;
            }
        }


        ul {
            // display: none;
            padding: 0;
            // margin: 0 15rem;

            li {
                padding:5px;
                list-style: none;
                margin: 0 1.5rem;
                // font-size: 1rem;
            }
        }
        .fa-bars{
            display: block;
            color: white;
            // border: 5px solid red;
          }
          
        
    }

}

