.titleHome{
    text-align: center;
    background-color: rgba($color-white, 0.7);
    padding: 10px;
    align-self: center;
    margin: 50px 0;
}
.nouveaute{
    text-align: center;
    margin-bottom: 50px;
}
.nouveauManga{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}