.card {
    // @extend %boxShadow;
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba($color-white, 0.7);
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;


    text-align: center;

    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }


    a {
        display: block;
        padding: 20px;
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: $color-white;
        font-weight: bold;
        // border: 5px solid red;
        background-color: $color-pink-purple;


        &:hover {
            color: $color-black;
            // background-color: $color-white;
        }
    }
}


.img {
    max-width: 400px;
    // border-radius: 1rem;
}

.cardId {

    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    .img {
        float: right;
    }
}


.name-manga {
    font-size: 3rem;
}

.info {
    display: flex;
    background-color: $color-white;
    align-items: center;
    padding: $size + 0.5rem;
    border-radius: $size + 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: $size + 1rem;

    img {
        max-width: 200px;
        height: auto;
        margin-right: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

.cardId {
    
    background-color: $color-white;
    
    .name-manga{
        color: $color-pink;
        margin-bottom: 0.5rem;
    }
    p{
        margin-bottom: 0.5rem;
        font-size: $size + 0.5rem;
        line-height: 1.4;
    }
    .synopsis{
        padding: 1.5rem;
        border-radius: $size + 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        color: darken($color-pink, 20%);
    }

}

aside.categorie {
    text-align: center;
    background-color: $color-pink;
    // border: 5px solid green;
  
    ul {
    //   border: 5px solid red;
    //   display: block;
    padding-left: 0;
      height: 30%;
      
      li {
        width: 100%;
        // border: 5px solid yellow;
        align-self: center;
        display: block;
        a{
          display: block;
          color: $color-black;

        //       text-decoration: none;
        font-size: 1.2rem;
        background-color: #EF82B9;
        padding: 10px 0;
        //       transition: color 0.3s;

        &:hover {
            background-color: $color-white;
            color: $color-blue;
        }
  
        }
      }
    }
  }




/*******************************************************************************************************/