$size: 1;
$color-blue: #1403d3;
$color-pink: #FF94A9;
$color-black: black;
$color-white: white;
$color-pink-purple: #EF82B9;

// $background-color: #f9f9f9;
$card-border-radius: 8px;
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
